{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">

    <body>
        <div class="row">

            <nav>
                {{#with navigation}}
                <div class="card">
                    <div class="nav">
                        {{#each links}}
                        <div class="nav-item">
                            <a href="{{href}}" class="nav-link {{#if @last}} disabled {{/if}}"> {{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/with}}
            </nav>

            <header>
                <h1 class="my-5">{{header}}</h1>
            </header>

            <section>
                {{#with purchase}}
                <ul class="nav nav-tabs">
                    {{#each tabs}}
                    <li class="nav-item">
                        <a class="nav-link {{#if @first}} disabled {{/if}}" href="#">{{this}}</a>
                    </li>
                    {{/each}}
                </ul>

                {{#with actionBlock}}
                <div class="row">
                    <div class="col-6">
                        {{#with input}}
                        <div class="my-3">
                            <input class="form-control" placeholder="{{placeholder}}">
                        </div>
                        {{/with}}
                    </div>
                    <div class="col-6 my-3">
                        {{#each buttons}}

                        {{#if isSuccess}}
                        <a class="btn btn-success" href="{{link}}" role="button">{{text}}</a>
                        {{/if}}
                        {{#if isOutline}}
                        <a class="btn btn-outline-success" href="{{link}}" role="button">{{text}}</a>
                        {{/if}}
                        {{#if isDanger}}
                        <a class="btn btn-outline-danger" href="{{link}}" role="button">{{text}}</a>
                        {{/if}}

                        {{/each}}
                    </div>
                </div>
                {{/with}}

                <hr>

                {{#each itemList}}
                <div class="row">
                    <div class="col-3 my-4">
                        <div>{{number}}</div>
                        <h6>{{status}}</h6>
                    </div>
                    <div class="col-2 my-4">
                        <div>{{amount.title}}</div>
                        <div>{{amount.value}}</div>
                    </div>
                    <div class="col-5 my-3">
                        {{#each images}}
                        <img src="{{this}}">
                        {{/each}}
                    </div>
                    <div class="col-2 my-5">
                        {{#with button}}
                        {{#if isPrimary}}
                        <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                        {{/if}}
                        {{/with}}
                    </div>
                    <hr>
                </div>
                {{/each}}

                {{/with}}
            </section>

            <section>
                {{#with userInfo}}
                <h2 class="my-5">{{title}}</h2>

                <div class="card">
                    {{#with profileData}}

                    <h3 class="m-3">{{title}}</h3>

                    <div class="card m-3">
                        <div class="row">
                            {{#with fullName}}

                            <div class="col-4 mx-2">
                                {{#with surname}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with name}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            <div class="col-3">
                                {{#with middleName}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            {{/with}}
                        </div>
                    </div>

                    <div class="card m-3">
                        <div class="row">
                            {{#with otherInfo}}

                            <div class="col-4 mx-2">
                                {{#with birthday}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            <div class="col-4">
                                {{#with sex}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            <div class="col-3">
                                {{#with language}}
                                <div>{{title}}</div>
                                <div>{{value}}</div>
                                {{/with}}
                            </div>

                            {{/with}}
                        </div>
                    </div>

                    {{/with}}

                    <div class="card m-3 p-2">
                        <div class="row">
                            {{#each buttons}}

                            <div class="col-1">
                                {{#if isPrimary}}
                                <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                                {{/if}}
                            </div>

                            <div class="col-1">
                                {{#if isSecondary}}
                                <a class="btn btn-outline-secondary" href="{{link}}" role="button">{{text}}</a>
                                {{/if}}
                            </div>

                            <div class="col-1">
                                {{#if isDanger}}
                                <a class="btn btn-danger" href="{{link}}" role="button">{{text}}</a>
                                {{/if}}
                            </div>

                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{#with recipients}}
                        <div class="card my-3">
                            <h3 class="m-3">{{title}}</h3>

                            <div class="row">
                                {{#each users}}
                                <div class="col-4">
                                    <div class="card m-2 p-2">
                                        <p>{{name}}</p>
                                        <div>{{phone}}</div>
                                        {{#with button}}
                                        <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                                        {{/with}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{#with contacts}}
                        <div class="card">
                            <h3 class="m-3">{{title}}</h3>


                            {{#with contactData}}
                            <div class="row">
                                <div class="col-4">
                                    <div class="card m-2 p-2">
                                        {{#with phone}}
                                        <p>{{title}}</p>
                                        <div>{{value}}</div>
                                        {{/with}}
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card m-2 p-2">
                                        {{#with additionalPhone}}
                                        <p>{{title}}</p>
                                        <div>{{value}}</div>
                                        {{/with}}
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card m-2 p-2">
                                        {{#with email}}
                                        <p>{{title}}</p>
                                        <div>{{value}}</div>
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                            {{/with}}

                            <div class="row m-3">
                                {{#each buttons}}
                                <div class="col-1">
                                    {{#if isPrimary}}
                                    <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                                    {{/if}}
                                </div>
                                <div class="col-1">
                                    {{#if isSecondary}}
                                    <a class="btn btn-outline-dark" href="{{link}}" role="button">{{text}}</a>
                                    {{/if}}
                                </div>
                                <div class="col-1">
                                    {{#if isDanger}}
                                    <a class="btn btn-outline-danger" href="{{link}}" role="button">{{text}}</a>
                                    {{/if}}
                                </div>

                                {{/each}}

                            </div>
                            {{/with}}

                        </div>
                    </div>
                    {{/with}}
            </section>

            <footer class="my-3">

                <div class="nav nav-tabs">
                    {{#each footer}}
                    <div class="nav-item">
                        {{#each this}}
                        <a href="{{this.link}}" class="nav-link {{#if @last}} disabled {{/if}}">{{this.text}}</a>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </footer>


        </div>
    </body>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}